.photo-grid {
  margin: 92px auto 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}

@media screen and (min-width: 1025px) {
  .photo-grid {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 14px;
  }
}


@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 88px 24px 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    margin: 64px auto 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 12px;
  }
}