.places__heading {
  margin: 0px;
  margin-bottom: 48px;
  padding: 0px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
}