.places__link {
  margin: 0;
  padding: 0px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration-line: underline;
}

.places__link:hover {
  cursor: pointer;
}