.lead {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 90%;
  align-items: center;
  margin: 56px auto 0px;
  padding: 0px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-top: 48px;
  }
}