.places__card-l {
  width: 984px;
  height: 660px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 152px 460px;
  gap: 48px 40px;
  margin: 0px;
  margin-top: 80px;
}

.places__card-l:first-of-type {
  margin-top: 0px;
}