.header__link {
  display: flex;
  align-self: flex-end;
  max-width: 30px;
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFF;
  text-decoration: none;
}

.header__link:first-of-type {
  margin-right: 18px;
}

.header__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear 0s;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}