.footer__link {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  margin-right: 18px;
}

.places__link:hover {
  cursor: pointer;
}

.footer__link:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 700px) {
  .footer__link {
    margin-bottom: 32px;
    margin-right: 0px;
    font-size: 24px;
    line-height: 24px;
  }
}