.lead__subtitle {
  color: #fff;
  max-width: 640px;
  max-height: 72px;
  text-align: center;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 32px 0px 64px;
  padding: 0px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-top: 32px;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    max-height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 40px;
  }
}