.places__pic {
  margin: 0px;
  padding: 0px;
  width: 460px;
  height: 460px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .places__pic {
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 880px) {
  .places__pic {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .places__pic {
    width: 100vw;
    height: auto;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 425px) {
  .places__pic {
    width: 100vw;
    height: auto;
    margin-bottom: 32px;
  }
}