.lead__text {
  align-self: flex-start;
  max-width: 200px;
  color: #fff;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0px 0px;
  padding: 0px;
}

@media screen and (max-width: 1023px) {
  .lead__text {
    margin-left: 24px;
  }
}
@media screen and (max-width: 425px) {
  .lead__text {
    margin-left: 16px;
  }
}