.lead__container {
  margin: 56px 0px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
}

@media scree and (max-width: 425px) {
  .lead__container {
    margin: 40px 0px 0px;
  }
}