.lead__container {
  width: 984px;
  height: 615px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 983px)  {
  .lead__container {
    width: 100vw;
    height: auto;
  }
}
